.top-section-parent {
  display: flex;
  height: 600px;
  width: 100%;
  /* overflow-x: hidden; */
  overflow-y: visible;
  /* min-width: 1000px; */
}

.top-col {
  width: 50%;
  height: 100%;
  /* border: 2px solid red; */
  position: relative;
}

.top-col-content {
  padding: 0 2em;
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.top-h1 {
  font-weight: 200;
  font-size: 2.5rem;
  margin: 0.5em 0;
}

.top-p {
  opacity: 75%;
  font-weight: 200;
  margin: 0.5em 0;
}

.request-btn {
  background: var(--mainblend);
  color: var(--white);
  padding: 0.85em 2em;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.4s ease;
  font-weight: 700;
  margin-top: 0.5em;
}

.request-btn:hover {
  box-shadow: 2px 2px 10px limegreen;
}

.bg-img {
  height: 175%;
  width: 175%;
  transform: translateY(-10rem);
}

.mockup-img {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  height: 135%;
  width: 100%;
  transform: translateY(-3rem);
  text-align: center;
}

@media screen and (max-width: 750px) {
  .top-section-parent {
    flex-direction: column;
    height: 800px;
    /* min-width: unset; */
  }

  .top-col {
    width: 100%;
    height: 50%;
    /* border: 2px solid red; */
  }

  .top-col:nth-child(1) {
    transform: translateY(100%);
  }

  .top-col:nth-child(2) {
    transform: translateY(-100%);
  }

  .top-col-content {
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1em;
  }
}
