@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: hsl(233, 26%, 24%);
  --limegreen: hsl(136, 65%, 51%);
  --brightcyan: hsl(192, 70%, 51%);
  --grayblue: hsl(233, 8%, 62%);
  --lightgrayblue: hsl(220, 16%, 96%);
  --verylightgray: hsl(0, 0%, 98%);
  --mainblend: linear-gradient(to right, var(--limegreen), var(--brightcyan));
  --white: white;
  --mainfont: "Public Sans", sans-serif;
}

.app {
  font-family: var(--mainfont);
  max-width: 1650px;
  margin: 0 auto;
  background: whitesmoke;
  overflow-y: hidden;
}

.app-content {
  position: relative;
  transform: translateY(5em);
  width: 100%;
  overflow: hidden;
  /* border: 2px solid red; */
  /* width: 100%; */
  /* padding-left: 2em; */
}

li {
  list-style: none;
}
